@{
    ViewData["Title"] = "Home Page";
}

<div class="central-body">
    <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px" alt="404">
    <a asp-controller="Account" asp-action="Login" class="btn-go-home">ADMIN</a>
    <a asp-controller="Account" asp-action="LoginCoder" class="btn-go-home">CODER</a>
</div>